body.mceContentBody{font-size:14px;}

.intro-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25em;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

img.left {
    float: left;
    max-width: 50%;
    margin: 5px 20px 10px 0;
}
img.right {
    float: right;
    max-width: 50%; /* Responsive width */
    margin: 5px 0 10px 20px;
}
img.leftAlone {
    float: left;
    margin-right: 100%;
    margin-bottom: 10px;
    clear: both;
}
img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    clear: both;
}
